build/
out/
deps/
# upstream sources (cloned at build time)
apertium/
apertium-anaphora/
apertium-lex-tools/
apertium-recursive/
apertium-separable/
cg3/
hfst/
lttoolbox/
openfst/
test-hello/build/
.DS_Store
