<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1031"
          android:installLocation="auto"
          android:versionName="1.0.4" >

  <uses-permission android:name="android.permission.INTERNET"/>

  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

  <!-- TODO Note the use of android:largeHeap as offline machine translation is memory intensive -->
  <application
    android:largeHeap="true"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:label="@string/app_name"
    android:theme="@style/AppTheme"
    android:name="com.qvyshift.translate.App"
    android:extractNativeLibs="true"
>
<!--
-->

    <activity
      android:name="com.qvyshift.translate.TranslatorActivity"
      android:label="@string/app_name"
      android:theme="@style/Theme.App.NoActionBar"
      android:exported="true"
      android:windowSoftInputMode="stateHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>
  </application>

</manifest>